# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
objects/seq/seq_clk_sync - Kopi.axo.x
patches/lfo_pwm_img.png
*.png
objects/misc/game_of_life.axo
objects/misc/grid32x32.axo
objects/misc/test1_float_fix.axo
objects/math/sdiv.axo
objects/midi/nrpn_rx_info.axp
patches/test_subpatch_bug.axp
